- content_for :head do
  = javascript_include_tag 'd3'
  = javascript_include_tag 'rickshaw'
  = stylesheet_link_tag 'rickshaw'

p Now, now. Perfectly symmetrical violence never solved anything. Yes. You gave me a dollar and some candy. How much did you make me? A true inspiration for the children. I daresay that Fry has discovered the smelliest object in the known universe! This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!

input type="range" class="topcoat-range"

#chart_container
  #y_axis
  #chart
  #x_axis

css:
  #chart_container {
    position: relative;
    font-family: inherit;
  }
  #chart {
    background-color: rgba(255,255,255,.9);
    position: relative;
    margin-left: 30px;
  }
  #y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
  }
  #x_axis {
    margin-left: 30px;
  }

javascript:
  var graph = new Rickshaw.Graph({
    element: document.querySelector("#chart"),
    renderer: 'line',
    //width: 300, 
    //height: 200, 
    series: [{
      color: '#6871DF',
      data: [ 
        { x: 0, y: 42 },
        { x: 1, y: 50 },
        { x: 2, y: 65 },
        { x: 3, y: 76 },
        { x: 4, y: 77 },
        { x: 5, y: 180 },
        { x: 6, y: 199 },
        { x: 7, y: 220 },
        { x: 8, y: 240 },
        { x: 9, y: 340 },
        { x: 10, y: 398 } 
        ]
    }]

  });
  

  var y_axis = new Rickshaw.Graph.Axis.Y({
    graph: graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('y_axis'),
  });
   
  var x_axis = new Rickshaw.Graph.Axis.X({
    graph: graph,
    orientation: 'bottom',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('x_axis'),
  });
  graph.render();
