pre: code =="$ cd node-js-sample\n$ git remote add progrium git@progriumapp.com:node-js-app\n$ git push progrium master\nCounting objects: 296, done.\nDelta compression using up to 4 threads.\nCompressing objects: 100% (254/254), done.\nWriting objects: 100% (296/296), 193.59 KiB, done.\nTotal 296 (delta 25), reused 276 (delta 13)\n-----> Building node-js-app ...\n       Node.js app detected\n-----> Resolving engine versions\n\n... blah blah blah ...\n\n-----> Application deployed:\n       http://node-js-app.progriumapp.com"