/*
  colors:
    - main black hue #31313A
    dark wood brown: #564334;

    alter colors
    https://kuler.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=2&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.8,0.46168963884342,0.34933828580454973,0.6,0.4207851823066769,0.36126874543603593,1,0.15320412130137573,0.27619833130378335,0.9101334827098071,1,0.9,0.5615492604263281,0.8,0.36631754774247427&swatchOrder=0,1,2,3,4
    
    #6871DF - dove purple blue
    #FF2746 - kuler red
    #996B5C - kuler brown


    FONTS:
  
    Quattrocento Sans (free!)
    
    FF Tisa Pro or Proxima Nova (crazy awesome)
    Frankling Gothic URW (cool!)
    FF Dagny Pro
    Whitney + FF Thundra
}
*/


h1, h2, h3, h4, h5, h6 {
  color: #15191B;
  color: #FF2746;
  text-shadow: 0 1px white;
  font-weight: 300;
}

body {
  text-align: center;
  font-family: 'Helvetica Neue';
  color: gray;
  text-shadow: 0 1px white;

  padding: 2rem 0;
}

p { font-weight: 300 }