* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {
  clear:both;
  content:".";
  display:block;
  font-size:0;
  height:0;
  line-height:0;
  visibility:hidden
}
.clearfix{zoom:1}

/* linear gradient mixin */
@mixin linear-gradient($G1, $G2) {
  background-color: $G1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $G1), color-stop(100%, $G2));
  background-image: -webkit-linear-gradient(top, $G1, $G2);
  background-image: -moz-linear-gradient(top, $G1, $G2);
  background-image: -o-linear-gradient(top, $G1, $G2);
  background-image: linear-gradient(top, $G1, $G2);
}

body {
  background-color: #fafafa;
  background-color: #f4f8f0; /*alternatively*/
  background: url('cork_1.png');
  font-family: Source Sans Pro;
  line-height: 1.6;
  color: #313131;
}

a {
  color: #996B5C;
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer; 
  &:hover { color: lighten(#996B5C, 20%); }
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {line-height: 40px}
h1 {font-size: 38.5px}
h2 {font-size: 31.5px}
h3 {font-size: 24.5px}
h4 {font-size: 17.5px}
h5 {font-size: 14px}
h6 {font-size: 11.9px}

p {
  margin: 0 0 1em;
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

strong {
  font-weight: bold
}

code, pre {
  /* colors match the Tomorrow Night theme */
  background-color: #1d1f21;
  color: #c5c8c6;
  padding: 2px 5px;
  margin: 0 0 1em;
  font-size: 14px;
  font-family: Source Code Pro, Monaco, courier, monospace;
  overflow: auto;
  border-radius: 3px;
  line-height: normal; /* 1.5 */
}

pre code { /* get rid of a bug where the letters are cut off if the tags are nested */
  background: none;
}

pre {
  padding: 10px 15px;
}

/* Dawn.io logo */
#logo {
  font-weight: bold;
  font-size: 28px; 
  color: #444;
  text-shadow: 0 1px rgba(255,255,255,.5); 
}

/* input */
input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 8px;
  background: white;
  font-family: Roboto;
}

input:focus {
  outline: none; /* TODO: need to add style */ 
}
